/* Selector Resets */

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* General Styles */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Layout Styles */
.container {
    width: 100%;
}

.wrapper {
    background: url("images/bg-mobile-light.jpg");
    background-color: hsl(0, 0%, 98%);
    /*background: url("images/bg-mobile-light.jpg"), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));*/
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    padding: 0 24px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styles */
.heading-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 48px;
    margin-bottom: 36px;
}

.heading {
    font-size: 22px;
    margin: 0;
    color: #fff;
    letter-spacing: 10px;
}

.dark-mode-btn {
    height: 20px;
}

/* Task Input Styles */
.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    max-height: 50px;
    min-height: 50px;
}

.todo-task-input {
    width: 90%;
    border: none;
    border-radius: 5px;
}

.todo-task-input::placeholder {
    color: hsl(236, 9%, 61%);
    font-size: 12px;
}

/* Task List Styles */
.list-container {
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
}

.list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px hsl(236, 33%, 92%) solid;
    max-height: 50px;
    min-height: 50px;
    margin-bottom: 0;
}

.task-completed-btn {
    height:  20px;
    width: 20px;
    background: #fff;
    border: solid 1px hsl(236, 33%, 92%);
    border-radius: 100%;
    margin: 0 16px;
}

.task-completed-checked {
    background: url("images/icon-check.svg"), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

 .list-item-text {
    font-size: 10px;
    color: hsl(235, 19%, 35%);
}

.complete {
    text-decoration: line-through;
}

.task-delete-btn {
    background-image: url("images/icon-cross.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    background-color: #fff;
    padding: 0;
    height:  16px;
    width: 16px;
    margin-right: 16px;
}

.task-delete-btn:hover,
.task-completed-btn:hover {
    cursor: pointer;
}

.task-completed-btn:disabled {
    cursor: unset;
}
.list-item-row, .todo-list-info-container {
    display: flex;
    align-items: center;
}

.todo-list-info-container {
    justify-content: space-between;
    margin: 0 16px;
    max-height: 50px;
    min-height: 50px;
}

.todo-list-info-text {
    color: hsl(236, 9%, 61%);
    font-size: 12px;
} 

.todo-list-filter-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    max-height: 50px;
    min-height: 50px;
    margin-bottom: 0;
    border-radius: 5px;
}

.todo-list-filter-text {
    color: hsl(236, 9%, 61%);
    font-size: 14px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}